.message_sender{
    bottom: 0px;
    position: fixed;
    border-top:  1px solid rgba(190, 190, 190, 0.1) ;
    width: 100%;
    background-color: #2d4671;
}
.message{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    margin: 15px;
}

.send_input{
    flex: 0.6;
    background-color: white;
    height: 10px;
    padding: 17px;
    margin-left: 10px;
    border-radius: 7px;
    border: 3px solid #5275b1;
}
.send_input input{
   border: none;
   width: 100%;
   outline-width: 0;
}
.message .MuiSvgIcon-root{
    margin-left: 15px;
}
.message .MuiSvgIcon-root:hover{
    color: #5275b1;
}

.hidden_btn{
    display: none;
}