.header{
    border-bottom:  1px solid rgba(190, 190, 190, 0.1) ;
}
.header_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.header_left{
    display: flex;
    align-items: center;
    color: white;
}
.header_info{
    margin-left: 20px;
}
.header_info p{
    margin-top: 10px;
}